#############################################
# Disk images and generated dumps
#############################################
*.img
dump.txt
file_dump.bat

#############################################
# WSLK Stuff
#############################################
/WSLK/

#############################################
# Editor / Tooling directories
#############################################
.VSCodeCounter/
.vscode/

#############################################
# Build output
#############################################
# Ignore top-level build and dist
/build/
/dist/
# But keep source/build inside userland ignored separately
/userland/build/
/userland/dist/

#############################################
# ISO files, Disk files and logs
#############################################
*.iso
*.log

#############################################
# Local Windows-only binaries
#############################################
*.exe

#############################################
# OS-specific metadata files
#############################################
Thumbs.db
.DS_Store

#####################################################
# Squirrel Executable and Linkable Programms (.SQR)
#####################################################
*.sqr
*.sqrm
*.sqrl
