[BOOTSTRAP]
#load graphics modules
timeout=5
int success=loadmod("vbe.mod")
if (success != 0) then
    loadmod("gop.mod")
end

#load drives and filesystem modules
loadmod("biosdrive.mod")
loadmod("ext2.mod")
loadmod("fat.mod")
loadmod("font.mod")

#setup graphics
gfxmode="1280x720x32"
gfxsource="!$mod"
gfxpayload="keep"

#set terminal type and font
terminaltype="gfxterm"
gfxfont = loadfont("/ModuOS/shared/assets/fonts/Terminus.fnt")


[MENU_ENTRYS]

# ModuOS menu Entry
menuentry("NTS/ModuOS", true) {
    loadmod("multiboot2.mod")

    gfxpayload="keep"

    int drive=getDriveIDFromFile("/ModuOS/System64/mdsys.sqr")
    int part=getPartIDFromFile("/ModuOS/System64/mdsys.sqr")

    krane_root=format("Drive%d-P%d", drive, part)
    multiboot2("/ModuOS/System64/mdsys.sqr")
    boot()
}